<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                        http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd
                        http://www.springframework.org/schema/aop 
	                   http://www.springframework.org/schema/aop/spring-aop-3.1.xsd"
                        >

	
	
  	<!-- SERVICE -->
  	<context:component-scan base-package="it.studiofontanelli.omniazero.business" />
  	
  	<!-- Process annotations on registered beans like @Autowired... -->
	<context:annotation-config />
	
	
	<bean id='stopWatchAspect' class='it.studiofontanelli.omniazero.business.aspect.StopWatchAspect' />
	
	<aop:aspectj-autoproxy>
		<aop:include name='stopWatchAspect' />
	</aop:aspectj-autoproxy>
  	
  	
  	
	
	<!-- EHCACHE -->
	<import resource="classpath*:spring/spring-cache-junit.xml" />
	
	<!-- Mail 
	<import resource="classpath*:spring/spring-mail-junit.xml" />
	-->
	
	<!-- Adapter -->
	<import resource="classpath*:spring/spring-adapter-junit.xml" />
	
	
	<bean id="applicationContextManager"
		class="it.studiofontanelli.omniazero.business.util.ApplicationContextManager"
		abstract="false" lazy-init="default" autowire="default">
		
	</bean>	
	
	<!-- 
	<bean id="environment" class="it.studiofontanelli.omniazero.business.util.Environment">
		<property name="urlLogout" value="http://127.0.0.1/liv1/Shibboleth.sso/Logout" />
		<property name="mailFrom"  value="info@csi.it" />
	</bean>	
	 -->
  	
</beans>
