<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/util
                        http://www.springframework.org/schema/util/spring-util.xsd
                        http://www.springframework.org/schema/mvc 
                        http://www.springframework.org/schema/mvc/spring-mvc.xsd
                        http://www.springframework.org/schema/aop
					    http://www.springframework.org/schema/aop/spring-aop.xsd">
	<!-- Scan for spring annotated components -->

	<context:component-scan base-package="it.studiofontanelli.omniazero.web.controller" />

	<!-- Process annotations on registered beans like @Autowired... -->
	<context:annotation-config  />

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
	
	<!-- converter -->

	<bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<!-- 
				<bean class="it.studiofontanelli.omniazero.web.converter.AmbitoConverter" />
				<bean class="it.studiofontanelli.omniazero.web.converter.UtenteConverter" />
				<bean class="it.studiofontanelli.omniazero.web.converter.CantiereConverter" />
				<bean class="it.studiofontanelli.omniazero.web.converter.DateConverter" />
				<bean class="it.studiofontanelli.omniazero.web.converter.ProfiloConverter" />
				
				 -->
			</set>
		</property>
	</bean>

	<mvc:annotation-driven conversion-service="conversionService" />
	
	<mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/" />
	
	 
	
	<bean
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="defaultContentType" value="text/html" />
		<property name="ignoreAcceptHeader" value="true" />
		<property name="favorPathExtension" value="true" />
		<property name="useJaf" value="false"/>
		<property name="order" value="1" />
		<property name="mediaTypes">
			<map>
				<entry key="html" value="text/html" />
				<entry key="json" value="application/json" />
				<entry key="xls" value="application/vnd.ms-excel" />
				<entry key="pdf" value="application/pdf" />
			</map>
		</property>
		<property name="viewResolvers">
			<list>
				<bean class="org.springframework.web.servlet.view.BeanNameViewResolver" />
				<bean class="org.springframework.web.servlet.view.UrlBasedViewResolver">
					<property name="viewClass" value="org.springframework.web.servlet.view.tiles2.TilesView" />
				</bean>
			</list>
		</property>
	</bean>
 	
 	
 	
 	<!-- Total customization - see below for explanation.
	<bean id="contentNegotiationManager"
	             class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
	    <property name="favorPathExtension" value="false" />
	    <property name="favorParameter" value="true" />
	    <property name="parameterName" value="mediaType" />
	    <property name="ignoreAcceptHeader" value="true"/>
	    <property name="useJaf" value="false"/>
	    <property name="defaultContentType" value="application/json" />
	 
	    <property name="mediaTypes">
	        <map>
	            <entry key="xml" value="application/xml" />
	            <entry key="html" value="text/html" />
				<entry key="json" value="application/json" />
				<entry key="xls" value="application/vnd.ms-excel" />
				<entry key="pdf" value="application/pdf" />
	       </map>
	    </property>
	</bean>
	 -->
	
	<bean class="org.springframework.web.servlet.view.tiles2.TilesConfigurer"
		id="tilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/layouts/layouts.xml</value>
			</list>
		</property>
		<property name="checkRefresh" value="true" />
	</bean>

	<!-- This tag allows for mapping the DispatcherServlet to "/" -->
	<mvc:default-servlet-handler />

	<!-- resources exclusions from servlet mapping -->
	<mvc:resources mapping="/css/**" location="/css/" />
	<mvc:resources mapping="/img/**" location="/img/" />
	<mvc:resources mapping="/js/**" location="/js/" />
	
	
	<!-- AOP support -->
	
	<bean id='pointcuts'        class='it.studiofontanelli.omniazero.web.aspect.Pointcuts' />
	<bean id='controllerAspect' class='it.studiofontanelli.omniazero.web.aspect.ControllerAspect' />
	<aop:aspectj-autoproxy>
		
		<aop:include name='controllerAspect' />
		<aop:include name='stopWatchAspect' />
		
	</aop:aspectj-autoproxy>
	
	<!-- configurazione degli interceptor -->
	<mvc:interceptors>
		<!-- 
		
		<bean class="it.studiofontanelli.omniazero.web.interceptor.JsonSerializerInterceptor" autowire="constructor" />
		 -->
		<bean class="it.studiofontanelli.omniazero.web.interceptor.RequestFormatInterceptor" autowire="constructor" />
	</mvc:interceptors>
	

</beans>